# Linear Regression in Action

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) üòÄ
</br>
In this notebook, I'm going to talk about linear regression.
</br>
Happy learning üê±‚Äçüèç

## Importing the data

In [1]:
import pandas as pd

In [2]:
veri=pd.read_csv('Datasets/student-mat.csv', sep=';')

## Exploring the data

In [3]:
veri=veri[['G1','G2','G3','studytime','failures','absences','age']]

In [4]:
veri.head()

   G1  G2  G3  studytime  failures  absences  age
0   5   6   6          2         0         6   18
1   5   5   6          2         0         4   17
2   7   8  10          2         3        10   15
3  15  14  15          3         0         2   15
4   6  10  10          2         0         4   16

## Preprocessing the data

In [5]:
veri.rename(columns={'G1':'Not1',
                    'G2':'Not2',
                    'G3':'Final',
                    'studytime':'Calisma_sure',
                    'failures':'Sinif_tekrari',
                    'absences':'Devamsizlik',
                    'age':'Yas'},
           inplace=True)

In [6]:
veri.head()

   Not1  Not2  Final  Calisma_sure  Sinif_tekrari  Devamsizlik  Yas
0     5     6      6             2              0            6   18
1     5     5      6             2              0            4   17
2     7     8     10             2              3           10   15
3    15    14     15             3              0            2   15
4     6    10     10             2              0            4   16

In [7]:
veri.dtypes

Not1             int64
Not2             int64
Final            int64
Calisma_sure     int64
Sinif_tekrari    int64
Devamsizlik      int64
Yas              int64
dtype: object

In [8]:
import numpy as np
y=np.array(veri['Final'])
X=np.array(veri.drop('Final',axis=1))

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2,random_state=2)

## Building the model

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
linear=LinearRegression()

In [14]:
linear.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

## Evaluating the model

In [15]:
linear.score(X_test,y_test)

0.8325898318712224

In [16]:
linear.score(X_train,y_train)

0.826127547519714

In [17]:
print('Katsayƒ±lar: \n',linear.coef_)
print('Sabit: \n',linear.intercept_)

Katsayƒ±lar:
 [ 0.19575962  0.95558174 -0.24215827  0.12730705  0.03566925 -0.23224281]
Sabit:
 2.154909740675162

In [18]:
veri.head()

   Not1  Not2  Final  Calisma_sure  Sinif_tekrari  Devamsizlik  Yas
0     5     6      6             2              0            6   18
1     5     5      6             2              0            4   17
2     7     8     10             2              3           10   15
3    15    14     15             3              0            2   15
4     6    10     10             2              0            4   16

## Predicting the data

In [19]:
yeni_veri=np.array([[10,14,3,0,4,16]])
linear.predict(yeni_veri)

array([13.19096755])

In [20]:
yeni_veri2=np.array([[15,14,3,0,2,15]])
linear.predict(yeni_veri2)

array([14.33066999])

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) üòé