# Feature Engineering

Hi Guys, Welcome to [Tirendaz Academy](https://youtube.com/c/tirendazacademy) üòÄ
</br>
In this notebook, I'm going to talk about feature engineering.
</br>
Happy learning üê±‚Äçüèç

## One-Hot-Encoding (Dummy Variables)

In [1]:
data=[{'score':80,'age':18,'gender':'Male'},
     {'score':90,'age':17,'gender':'Female'},
     {'score':70,'age':16,'gender':'Female'},
     {'score':50,'age':19,'gender':'Male'},
     {'score':80,'age':18,'gender':'Male'},
     {'score':60,'age':16,'gender':'Female'},
     {'score':80,'age':18,'gender':'Male'},
     {'score':85,'age':17,'gender':'Male'},
     {'score':80,'age':18,'gender':'Male'},
     {'score':40,'age':19,'gender':'Female'}]

In [3]:
from sklearn.feature_extraction import DictVectorizer

In [4]:
vec=DictVectorizer(sparse=False, dtype=int)

In [5]:
vec.fit_transform(data)

array([[18,  0,  1, 80],
       [17,  1,  0, 90],
       [16,  1,  0, 70],
       [19,  0,  1, 50],
       [18,  0,  1, 80],
       [16,  1,  0, 60],
       [18,  0,  1, 80],
       [17,  0,  1, 85],
       [18,  0,  1, 80],
       [19,  1,  0, 40]])

In [6]:
vec.get_feature_names()

['age', 'gender=Female', 'gender=Male', 'score']

In [7]:
vec=DictVectorizer(sparse=True, dtype=int)

In [8]:
vec.fit_transform(data)

<10x4 sparse matrix of type '<class 'numpy.int32'>'
	with 30 stored elements in Compressed Sparse Row format>

In [10]:
import pandas as pd

In [11]:
data=pd.DataFrame(data)

In [12]:
data.head()

   score  age  gender
0     80   18    Male
1     90   17  Female
2     70   16  Female
3     50   19    Male
4     80   18    Male

In [13]:
data_dummies=pd.get_dummies(data)

In [14]:
data_dummies.head()

   score  age  gender_Female  gender_Male
0     80   18              0            1
1     90   17              1            0
2     70   16              1            0
3     50   19              0            1
4     80   18              0            1

In [15]:
feature=data_dummies[['score','age']]

In [16]:
X=feature.values

In [18]:
y=data_dummies['gender_Female'].values

In [20]:
print(X.shape,y.shape)

(10, 2) (10,)

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42)

In [24]:
logreg=LogisticRegression(solver='lbfgs')

In [25]:
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [26]:
logreg.score(X_test,y_test)

0.6666666666666666

In [29]:
demo_data=pd.DataFrame({'class':[1,2,2,3,3,4],
                       'gender':['female','female','male','male','male','female']})

In [30]:
demo_data

   class  gender
0      1  female
1      2  female
2      2    male
3      3    male
4      3    male
5      4  female

In [31]:
pd.get_dummies(demo_data)

   class  gender_female  gender_male
0      1              1            0
1      2              1            0
2      2              0            1
3      3              0            1
4      3              0            1
5      4              1            0

In [32]:
demo_data['class']=demo_data['class'].astype(str)

In [33]:
pd.get_dummies(demo_data)

   class_1  class_2  class_3  class_4  gender_female  gender_male
0        1        0        0        0              1            0
1        0        1        0        0              1            0
2        0        1        0        0              0            1
3        0        0        1        0              0            1
4        0        0        1        0              0            1
5        0        0        0        1              1            0

Don't forget to follow us on [YouTube](http://youtube.com/tirendazacademy) | [Medium](http://tirendazacademy.medium.com) | [Twitter](http://twitter.com/tirendazacademy) | [GitHub](http://github.com/tirendazacademy) | [Linkedin](https://www.linkedin.com/in/tirendaz-academy) | [Kaggle](https://www.kaggle.com/tirendazacademy) üòé